@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;;
}

body{
    background-color: rgb(243, 6, 6);
    max-width: 1440px;
    margin: auto;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
}

nav h2{
    font-size: 36px;
    color: rgb(230, 83, 60);
    font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 55px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 5px;
}

nav ul li{
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    width: fit-content;
    color: white;
}

nav .btn-primary{
    padding: 8px 20px;
}


/* Hero container start */

header{
    background: linear-gradient(180.00deg, rgb(0, 0, 0),rgba(102, 101, 101, 0.466) 100%);
    padding: 0 10px;
}



.hero-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0px 190px 0px 214px;
}


.hero-container h1{
    font-size: 78px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding-top: 96px;
}

.hero-container p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding: 28px;
}

.download-btn{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 42px;
    padding: 16px 40px;
}

.hero-container, .btn-primary{
    padding: 16px 40px;
}

.hero-btn{
    display: flex;
    gap: 14px;
}


/* Hero Container End */

/* Habits container start */

.head-habits-container{
    text-align: center;
    padding-top: 100px;
}

.head-habits-container h1{
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.head-habits-container p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding: 14px;
}

.habits-category{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}

.habits-category > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.habits-category img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    
}

.habits-category h3{
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.habits-category p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 6px;
}

/* Habits Container End */

/* Easily Container Start */


.easily-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    margin-top: 100px;
}

.easily-container-left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.easily-container img{
    height: 312px;
    width: 366px;
    border-radius: 18px;
    padding: 30px;
}


