@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: black;
  max-width: 1440px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}

nav h2 {
  font-size: 36px;
  color: rgb(230, 83, 60);
  font-weight: 800;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 55px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 5px;
}

nav ul li {
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 42px;
  background-color: rgb(230, 83, 60);
  width: fit-content;
  color: white;
}

nav .btn-primary {
  padding: 8px 20px;
}

/* Hero container start */

header {
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0),
    rgba(102, 101, 101, 0.466) 100%
  );
  padding: 0 10px;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0px 190px 0px 214px;
}

.hero-container h1 {
  font-size: 78px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  padding-top: 96px;
}

.hero-container p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding: 28px;
}

.download-btn {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 42px;
  padding: 16px 40px;
}

.hero-container,
.btn-primary {
  padding: 16px 40px;
}

.hero-btn {
  display: flex;
  gap: 14px;
}

.first {
  width: 193px;
  height: 98px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 1377px;
  top: 260px;
  padding: 17px;
}


.first h2{
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
}

.first p{
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
  padding: 0px;
}

.video-tutorial-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 206px;
  height: fit-content;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  position: absolute;
  left: 1020px;
  right: -787px;
  top: 534.61px;
  bottom: -434.61px;
  padding: 20px;
}

.ball {
  width: 40px;
  height: 40px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}

.video-tutorial-container h3 {
  text-align: left;
  font-size: 24px;
  font-weight: 900;
  color: rgb(250, 250, 249);
}

.video-tutorial-container p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(239, 237, 232, 0.65);
  padding: 0px;
  margin-top: 8px;
}

/* Hero Container End */

/* class-Container-Start */

.our-class-head{
  text-align: center;
  margin-top: 80px;
}

.our-class-head h1{
  font-size: 48px;
  font-weight: 900;
  color: white;
}

.our-class-head p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.popular-class-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.popular-class-head{
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
  text-align: center;
}

.popular-class-head h3{
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-top: 50px;
}

.popular-class-head p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin: 15px;
}

.popular-class-head button{
  color: white;
  padding: 18px 45px;
  border-radius: 42px;
  border: none;
  background-color: rgb(230, 83, 60);
  box-sizing: border-box;
  margin-top: 30px;
  font-size: 15px;
}

.single-class img{
  height: 212px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  margin-bottom: 6px;
}

.single-class{
  background-color: rgb(34, 34, 34);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.single-class h3{
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-top: 10px;
}

.single-class p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin: 10px;
}

.single-class button{
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(230, 83, 60);
  margin-top: auto;
}




/* Habits container start */

.head-habits-container {
  text-align: center;
  padding-top: 100px;
}

.head-habits-container h1 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.head-habits-container p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding: 14px;
}

.habits-category {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}

.habits-category > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.habits-category img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.habits-category h3 {
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

.habits-category p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 6px;
}

/* Habits Container End */

/* Easily Container Start */

.easily-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  margin-top: 100px;
  padding: 40px;
}

.easily-container h2 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.easily-container p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
}

.easily-container .btn-primary {
  padding: 16px 60px;
  margin-top: 40px;
}

.easily-container img {
  height: 312px;
  width: 366px;
  border-radius: 18px;
}

/* Easily Container End */

/* Exercises section start */


.traning-exercises-heading {
  text-align: left;
  margin-top: 100px;
  margin-left: 150px;
}

.traning-exercises-heading h1 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.traning-exercises-heading p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
  margin-bottom: 58px;
}

.traning-exercises-profile {
  display: flex;
  height: 218px;
  width: 100%;
}

.exercises-img1 {
  width: 25%;
  background-size: cover;
}

.exercises-img1 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 30px;
}

.exercises-img2 {
  width: 45%;
  background-size: cover;
}

.exercises-img2 div {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  margin: 30px;
}

.exercises-img3 {
  width: 30%;
  background-size: cover;
}

.exercises-img3 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 30px;
}

.exercises-img4 {
  width: 45%;
  background-size: cover;
}

.exercises-img4 div {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  padding: 30px;
}

.exercises-img5 {
  width: 25%;
  background-size: cover;
}

.exercises-img5 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 30px;
}

.exercises-img6 {
  width: 30%;
  background-size: cover;
}

.exercises-img6 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 30px;
}

/* Exercises section End */

/* BMI Section Start */

table {
  text-align: left;
}
table td,
table th {
  padding: 11px 70px 14px 18px;
}

.bmi-calculator-chart thead {
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.bmi-calculator-chart tbody {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.calculate-container {
  text-align: center;
}

.calculate-container h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 48px;
  margin-top: 88px;
}

.calculate-container p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-top: 14px;
}

.calculator-chart {
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: rgba(34, 34, 34, 1);
  margin-top: 88px;
  padding: 40px 100px;
}

.bmi-calculator-chart h2 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 52px;
}

.calculate-bmi h2 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
}

.calculate-bmi p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin-top: 14px;
}

.calculator-chart input,
select {
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.bmi-calculator {
  display: grid;
  grid-template-columns: repeat(2, 283px);
  gap: 12px;
  margin-bottom: 12px;
  margin-top: 34px;
}

.calculator-chart .btn-primary {
  padding: 16px 60px;
  border: none;
  margin-top: 34px;
}

/* BMI Section End */

/* Team Section start */

.team-container {
  text-align: center;
}

.team-container h2 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-top: 88px;
  margin-bottom: 14px;
}

.team-container p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 58px;
}

.team-img {
  height: 272px;
  width: auto;
  border-radius: 20px;
  padding: 20px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondary-heading h4 {
  font-size: 20px;
}

.team-img div {
  margin-top: auto;
  height: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.team-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
}

/* Team Section End */

/* Footer Section Start */

.footer-section {
  display: flex;
  gap: 200px;
  background-color: rgb(41, 41, 41);
  margin-top: 88px;
  justify-content: space-around;
  padding: 66px;
}

.fitness-container h1 {
  font-size: 70px;
  font-weight: 800;
  color: rgb(230, 83, 60);
  margin-top: 66px;
}

.fitness-container p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}


.fitness-container-right-side h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-bottom: 39px;
}

.fitness-container-right-side ul {
  font-size: 23px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  list-style-type: none;
}

.fitness-container-right-side li {
  margin-bottom: 20px;
}

footer hr{
  width: auto;
  border: 2px solid rgba(255, 255, 255, 0.1);
  left: 189px;
  top: 394px;
  margin-left: 150px;
  margin-right: 150px;

}

.right-reserved-content{
  text-align: center;
  padding: 35px 560px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(41, 41, 41);;
}

.right-reserved-conten p{
  font-size: 20px;
  font-weight: 400;
}


.main-padding{
  padding-left: 150px;
  padding-right: 150px;
}
